<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Вывод эфира</title>
</head>
<body>
    <div class="container">
        <h1 class="balanceName">Вывод эфира</h1>
        <form method="post" >
            <label for="amount">Количество эфира для вывода:</label>
            <input type="number" id="amount" name="amount" required>
            <button class="stl" type="submit">Вывести</button>
        </form>
        <a class="back" href="{{ url_for('dashboard') }}">Назад</a>

        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% set last_message = messages[-1] %}
                    <ul class="flashes">
                        <li class="{{ last_message[0] }}">{{ last_message[1] }}</li>
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
    </div>
</body>
</html>